!src/**/
!src/**/.gitkeep
**/*.key
**/*.pem
**/secrets*
.DS_Store
.env
.idea/
.openclaw/
.ruff_cache/
.venv/
.vscode/
__pycache__/
cache/
node_modules/
package-lock.json
package.json
playwright.config.ts
